{% load static %}
<!DOCTYPE html>
<html>

<head>

    <title>Risen christ</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="icon" href="{% static 'assets/logo.ico' %}" type="image/x-icon">

</head>

<body>
    <div class="wrapper">
        <header>
            <div class="header-content">
                <img src="{% static 'assets/logo.jpg' %}" alt="RCF Logo" class="logo">
                <div class="title-text">
                    <h1>Risen Christ Fellowship (RCF)</h1>
                    <p>Impacting the World with the Message of Christ</p>
                </div>
            </div>
        </header>



        <!-- Navigation Bar -->
        <nav>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'about' %}">About</a>
            <a href="{% url 'sermons' %}">Sermons</a>
            <a href="{% url 'contact' %}">Contact</a>
        </nav>


    </div>


    <hr>

    <!-- Page Content -->
    {% block content %}
    {% endblock %}

    <!-- Footer -->
    <footer class="site-footer">
  <div class="footer-content">
    <div class="footer-section">
      <h4>Our Mission</h4>
      <p>To advance the Kingdom of God on Earth.</p>
    </div>
    <div class="footer-section">
      <h4>Our Vision</h4>
      <p>To positively impact and transform society through the Gospel.</p>
    </div>
    <div class="footer-section">
      <h4>Core Values</h4>
      <ul>
        <li>Purpose</li>
        <li>Excellence</li>
        <li>Transformation</li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Motto</h2>
      <p>Compassionately Proclaim the Gospel</p>
    </div>
    <p class="footer-copy">&copy; {{ now|date:"Y" }} Risen Christ Fellowship (RCF)</p>
  </div>
</footer>


</body>

</html>