<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact page</title>
</head>

<body>

    <h1>Contact us</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus unde porro, qui molestias, sed molestiae
        repudiandae omnis accusamus, eveniet iure soluta quisquam delectus? Quibusdam nostrum pariatur nemo assumenda,
        error ut!
        Ratione, et. Quaerat eos illo laudantium necessitatibus suscipit, libero eum consequuntur ullam quo velit ipsa
        facilis veritatis tempora neque possimus non in natus. Adipisci nihil maiores sed illo ducimus nam!
        Nobis laborum nemo quod. Ad ex eius odio cum quasi recusandae vero quod natus! Esse, molestiae amet. Quibusdam
        repudiandae asperiores delectus tempore, atque at eos quae, libero laboriosam sapiente quia!</p>
        


</body>

</html>